.tox-bottom-anchorbar , .tox-statusbar{
  display: none !important;
  }

  #title_ifr{    
    margin: 0 !important;
    padding-left: 2px;
    height: 55px !important;
  }


form > div.block > div:nth-child(2){
  height: 55px !important;
  margin-bottom: 3px;
}


.p-4.h-screen.md\:h-fit.w-screen.md\:w-fit > div:nth-child(1) > div:nth-child(2){
  height: 55px !important;
}


  .tox-edit-area__iframe{
    background-color: #F1F5F9 !important;
  }
  
  .tox-tinymce{
  border: none !important;  
  }

  .ql-container.ql-snow {
    border: none !important;
  }


  .ql-editor {
    height: 90%
  }

  .ql-toolbar.ql-snow{
    border: none !important;
  }