.tox-bottom-anchorbar , .tox-statusbar{
  display: none !important;
  }

  #title_ifr{    
    margin: 0 !important;
    padding-left: 2px;
    height: 55px !important;
  }


form > div.block > div:nth-child(2){
  height: 55px !important;
}