
.bgImage{
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter:blur(3px);
  position: absolute;
  
}

.container {
  /* margin: 0 auto; */
}

.hero-text {
  padding-top: 40px;
  width: 50%;
}

.hero-welcome-text {
  margin: 0;
  padding: 0;
  font-size: 34px;
  margin-bottom: -10px;
}

.explore-btn {
  box-shadow: 0 4px 30px #2b5592;
  background: #2b5592;
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease-in-out;
  position: relative;
  
}

.explore-btn:hover {
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 40px #ffd900;
  background: #ffd900;
  transform: scale(1.05)
}



.test-btn {
  box-shadow: 0 4px 30px #DF5A5A;
  background: #EC6D68;
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease-in-out;
  position: relative;  
}

.test-btn:hover {
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 40px #FE8D85;
  background: #FE8D85;
  transform: scale(1.05)
}








.testacc-btn {
  box-shadow: 0 4px 30px #0b5394;
  background: #0b5394;
  padding: 12px 30px;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.testacc-btn:hover {
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 40px #0b5394;
  background: #0b5394;
  transform: scale(1.05)
}



.carousel-status, .control-dots{
  display:none;
}

.view{
  width: 200px;
  border: 1px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  
}





@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

a {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  /* margin: 0; */
  /* position: absolute; */
  /* top: 8%; */
  /* left: 8%; */
  /* transform: translateX(-50%) translateY(-50%); */
}

/* a:before,
a:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 2s 1 alternate ease-in-out tipsy;
} */

/* a:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
} */

/* a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
} */